<!DOCTYPE html>
{#             'bundles/brainstrapwc/css/style.css' 'bundles/brainstrapwc/js/main.js' #}
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('bower/components/jquery-ui/themes/base/minified/jquery-ui.min.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bower/components/bootstrap/dist/css/bootstrap.min.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bower/components/bootstrap-jasny/dist/css/bootstrap.min.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bower/components/fontawesome/css/font-awesome.min.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bower/components/bootstrap-notify/css/bootstrap-notify.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bower/components/bootstrap-notify/css/styles/alert-bangtidy.css') }}" />

            
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/brainstrapcorenc/plugins/DataTables/extends/bootstrap/css/dataTables.bootstrap.css') }}" />

            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/brainstrapcorenc/css/styles.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/brainstrapcorenc/css/nc-standart.css') }}" />
        
       {% endblock stylesheets %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            {% block top%}{% endblock top %}
            
            {% block loginWrapper %}{% endblock loginWrapper %}


            {% block sidebar %}
                {% block mainNav %}{% endblock mainNav %}
                {% block secNav %}{% endblock secNav %}
            {% endblock sidebar %}
            


            {% block content %}
                {% block contentTop %}{% endblock contentTop %}
                {% block breadLine %}{% endblock breadLine %}
                {% block wrapper %}{% endblock wrapper %}
            {% endblock content %}

            {% block modal %}



                {% block modal_request_cart %}{% endblock modal_request_cart %}
                {% block modal_request_wait %}{% endblock modal_request_wait %}
                {% block modal_add_cart_with_client %}{% endblock modal_add_cart_with_client %}
                {% block modal_add_session %}{% endblock modal_add_session %}
                {% block modal_remove_session %}{% endblock modal_remove_session %}
                {% block modal_client_info %}{% endblock modal_client_info %}
                {% block modal_client_info_with_session %}{% endblock modal_client_info_with_session %}
                {# {% block modal_add_session_group %}{% endblock modal_add_session_group %} #}
            {% endblock modal %}

            {% block notification %}
                <div class='notifications bottom-right notification'></div>
            {% endblock notification %}
        {% endblock %}

        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('bower/components/json2/json2.js') }}"></script>
            
            <script type="text/javascript" src="{{ asset('bower/components/jquery/jquery.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bower/components/jquery-migrate/jquery-migrate.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bower/components/jquery-ui/ui/minified/jquery-ui.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bower/components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bower/components/bootstrap-jasny/dist/js/bootstrap.min.js') }}"></script>
            
            <script type="text/javascript" src="{{ asset('bower/components/bootstrap-notify/js/bootstrap-notify.js') }}"></script>

            <script type="text/javascript" src="{{ asset('bower/components/DataTables/media/js/jquery.dataTables.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/brainstrapcorenc/plugins/DataTables/extends/bootstrap/js/dataTables.bootstrap.js') }}"></script>

            <script type="text/javascript" src="{{ asset('bundles/brainstrapcorenc/js/app/configs/const.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/brainstrapcorenc/js/app/commons/commons.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/brainstrapcorenc/js/app/commons/submit.js') }}"></script>
            
            <script type="text/javascript" src="{{ asset('bundles/brainstrapcorenc/js/app/listeners.js') }}"></script>
            
            {# Controllers #}
            <script type="text/javascript" src="{{ asset('bundles/brainstrapcorenc/js/app/controllers/cartController.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/brainstrapcorenc/js/app/controllers/clientController.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/brainstrapcorenc/js/app/controllers/sessionController.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/brainstrapcorenc/js/app/controllers/infoController.js') }}"></script>
            
            
            {# UI #}
            <script type="text/javascript" src="{{ asset('bundles/brainstrapcorenc/js/app/ui/tables/ui-tables-sessions.js') }}"></script>

            {# CronJS #}
            <script type="text/javascript" src="{{ asset('bundles/brainstrapcorenc/js/libs/cron.js-master/build/cron.cc.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/brainstrapcorenc/js/app/cron/cron.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/brainstrapcorenc/js/app/cron/jobs/test/testJob.js') }}"></script>
            


            <script type="text/javascript" src="{{ asset('bundles/brainstrapcorenc/js/app/init.js') }}"></script>
            
        {% endblock javascripts %}

    </body>
</html>