<!DOCTYPE html>
{#             'bundles/brainstrapwc/css/style.css' 'bundles/brainstrapwc/js/main.js' #}
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('bower/components/jquery-ui/themes/base/minified/jquery-ui.min.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bower/components/bootstrap/dist/css/bootstrap.min.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bower/components/fontawesome/css/font-awesome.min.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bower/components/select2/select2.css') }}" />
            {# <link rel="stylesheet" type="text/css" href="{{ asset('bower/components/select2/select2-bootstrap.css') }}" /> #}
            {# <link rel="stylesheet" type="text/css" href="{{ asset('bower/components/select2-bootstrap3-css/select2-bootstrap.css') }}" /> #}
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/brainstrapcorenc/css/tables/flexigrid.pack.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/brainstrapcorenc/css/styles.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/brainstrapcorenc/css/nc-standart.css') }}" />
        
       {% endblock stylesheets %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            {% block top%}{% endblock top %}
            
            {% block loginWrapper %}{% endblock loginWrapper %}


            {% block sidebar %}
                {% block mainNav %}{% endblock mainNav %}
                {% block secNav %}{% endblock secNav %}
            {% endblock sidebar %}
            


            {% block content %}
                {% block contentTop %}{% endblock contentTop %}
                {% block breadLine %}{% endblock breadLine %}
                {% block wrapper %}{% endblock wrapper %}
            {% endblock content %}

            {% block modal %}
                {% block modal_request_wait %}{% endblock modal_request_wait %}
                {% block modal_request_cart %}{% endblock modal_request_cart %}
                {% block modal_add_cart_with_client %}{% endblock modal_add_cart_with_client %}

                {% block modal_add_session_person %}{% endblock modal_add_session_person %}
                {% block modal_add_session_group %}{% endblock modal_add_session_group %}
            {% endblock modal %}
        {% endblock %}

        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('bower/components/jquery/jquery.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bower/components/jquery-migrate/jquery-migrate.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bower/components/jquery-ui/ui/minified/jquery-ui.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bower/components/bootstrap/dist/js/bootstrap.min.js') }}"></script>

            <script type="text/javascript" src="{{ asset('bower/components/select2/select2.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bower/components/select2/select2_locale_ru.js') }}"></script>

            <script type="text/javascript" src="{{ asset('bundles/brainstrapcorenc/js/files/functions.js') }}"></script>
        {% endblock javascripts %}

    </body>
</html>
